doctype html
//if lt IE 7
  html(class="no-js lt-ie9 lt-ie8 lt-ie7", lang="en")
//if IE 7
  html(class="no-js lt-ie9 lt-ie8", lang="en")
//if IE 8
  html(class="no-js lt-ie9", lang="en")
// [if gt IE 8] <!
html(class="no-js", ng-app='perficioApp')
  // <![endif]
  head
    meta(property='og:type', content='article')
    meta(property='og:site_name', content='u2i is gamified')
    meta(property='og:title', content='#{achievement.name}')
    meta(property='og:description', content='#{achievement.description}')
    meta(property='og:url', content='#{redirectUrl}')
    meta(property='og:image', content='#{achievement.imageUrl}')
      
    script(type='text/javascript').
      if('#{redirectUrl}') window.location = "#{redirectUrl}";
